html, 
body,
* {
    padding: 0%;
    margin: 2rem;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Gemunu Libre', sans-serif;
}
header{
    font-size: 10rem;
    text-align: center;
}
.parent{
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    background-color: cadetblue;
}
.child{
    text-align: center;
    border: 5px solid black;
    width: 28%;
    background-color: darkgrey;
    box-shadow: 1rem .5rem .5rem black;

}
img{
    width: 50%;
    height: 40%;
}