html, 
body,
* {
    padding: 0%;
    margin: 2rem;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: blanchedalmond;
}
header{
    font-size: 10rem;
    text-align: center;
}
.parent{
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}
.child{
    text-align: center;
    border: 5px solid black;
    width: 28%;

}
img{
    width: 50%;
}